.playerContainer{
  background-color: black;
  width: 600px;
  height: 400px;
}

video{
  position: absolute;
}

.vidMenu{
  position: relative;
  top: 370px;
  padding-left: 15px;
  width: 100%;
}

.filmName:hover{
  cursor:pointer;
}


.pause{
  background: none;
  width: 20px;
  height: 20px;
  border-style: double;
  border-width: 0px 0px 0px 20px;
  border-color: #fff;
  outline: none;
}
.pause:hover{
  cursor:pointer;
}
.play {
  border-style: solid;
  box-sizing: border-box;
  border-width: 10px 0px 10px 20px;
  border-color: transparent transparent transparent #fff;
}
.play:hover{
  cursor:pointer;
}

.describ{
  display: none;
  width: 580px;
  background: cyan;
  padding: 10px;
}

.videoTitle{
  font-size: 30px;
  margin-bottom: 10px;
}
.videoAuthor{
  font-size: 25px;
  margin-bottom: 10px;
}
.videoDescription{
  font-size: 18px;
}
